@model HospitalManagement.Models.Patient

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Disease)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disease)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientMobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientMobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientBloodGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientBloodGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientAddress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
