@model IEnumerable<HospitalManagement.Models.Patient>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Disease)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientMobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientBloodGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Disease)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientMobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientGender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientBloodGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>


<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Dashboard</li>
    </ol>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div><!--/.row-->
<p class="text-success">ViewBag.Messege</p>
<div class="panel panel-container">
    <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-teal panel-widget border-right">
                <div class="row no-padding">
                    <em class="fa fa-xl fa-building color-blue"></em>
                    <div class="large count">25</div>
                    <div class="text-muted">Departments</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-blue panel-widget border-right">
                <div class="row no-padding">
                    <em class="fa fa-xl fa-user-md color-orange"></em>
                    <div class="large count">55</div>
                    <div class="text-muted">Doctors</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-orange panel-widget border-right">
                <div class="row no-padding">
                    <em class="fa fa-xl fa-user color-teal"></em>
                    <div class="large">55</div>
                    <div class="text-muted">Patients</div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
            <div class="panel panel-red panel-widget ">
                <div class="row no-padding">
                    <em class="fa fa-xl fa-ambulance color-red"></em>
                    <div class="large count">5</div>
                    <div class="text-muted">Ambulances</div>
                </div>
            </div>
        </div>

    </div>
</div>