@model HospitalManagement.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Deptid.DepartName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deptid.DepartName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Did.DName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Did.DName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pid.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pid.PName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slot)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
